/* styles.css */
h3{
    margin: 0;
}
body {
    text-align: center;
}
ul {
    margin: 0;
    padding: 10px;
    padding-top: 0px;
    list-style-type: disc;
    display: inline-block;
    /*Left align contents of list*/
    text-align: left;
}
